extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
  .row
    .col-12.col-lg-12.col-md-12
      p= location.address
      h2.panel-title Description
      .card
        .card-block
          p= location.description
      .col-12.col-lg-12.col-md-12
        h2.panel-title Contact Details
        .card
          .card-block
              a(href=`${location.facebookUrl}`)= location.facebookUrl
              br
              a(href=`${location.twitterUrl}`)= location.twitterUrl
              br
              p= location.phoneNumber

