extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapLine}

  .row
    .col-12.col-md-8
      .error= message

      each location in locations
        .card
          .card-block
            h4
              a(href=`/location/${location._id}`)= location.name

              span.badge.pull-right.badge-default.floatRight= location.distance
            p.address= location.address 
            p.address= location.city
            p.state= location.state
            p.state= location.zip
            

    .col-12.col-md-4
      p.lead= sidebar